#bootstrap-overrides a {
    padding: 1rem;
    color: black;
    transition: ease 2s;
}

#bootstrap-overrides a, h1, h2 {
    font-family: 'Share Tech Mono', monospace;
}

#bootstrap-overrides h1, h2 {
    margin-top: 1rem;
}

#bootstrap-overrides a::first-letter, h1::first-letter, h2::first-letter {
    text-decoration: underline;
    text-decoration-color: #e2001a;
}

#bootstrap-overrides a.navbar-brand::first-letter {
    text-decoration: none;
}

#bootstrap-overrides h2 {
    font-size: large;
}

#bootstrap-overrides a, h1, h2 {
    text-transform: uppercase;
}

#bootstrap-overrides a:hover {
    text-decoration: none;
    background-color: #e2001a;
    transition: ease 2s;
}

#bootstrap-overrides .navbar-brand {
    font-size: x-large;
}

.about {
    text-align: center;
}

.about ul {
    list-style: none;
    margin: 3rem 0 1rem 0;
    padding: 0;
}

.about li {
    display: inline;
    margin: 3rem 0 1rem 0;
}

/* Hamburger navhbar toggler */
.custom-toggler .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(30, 197, 3, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.custom-toggler.navbar-toggler {
  border-color:  primary;
}

#profilePictureContainer > img {
    border-radius: 50%;
    width: 17rem;

box-sizing: inherit;
}